<%- include('./partials/head.ejs') %>

<header>
  <nav class="container">
      <h1><a href="/">Cooking Wick</a></h1>
  </nav>
</header>

<div class="container details">
    <h2><%- recipe.title %></h2>
    <div class="content">
        <p><%- recipe.ingredient %></p>
        <p><%- recipe.method %></p>
        <p><%- recipe.cookingTime %></p>
    </div>
</div>

<%- include('./partials/footer.ejs') %>