<%- include('./partials/head.ejs') %>

<header>
  <nav class="container">
      <h1><a href="/">Cooking Wick</a></h1>
      <ul>
          <li><a href="/create">Add new recipe</a></li>
      </ul>
  </nav>
</header>

<div class="content container">
  <div class="recipe-list">
    <% if (recipes.length > 0) { %>
      <% recipes.forEach(recipe => { %>
        <div class="recipe-preview">
          <div class="card">
              <h3><%= recipe.title %></h3>
              <p><%= recipe.cookingTime %> minutes to make.</p>
              <div><%= recipe.method %></div>
              <a href="#">cook this.</a>
            </div>
        </div>
      <% }) %>
    <% } else { %>
        <p>There are no recipe to display</p>
    <% } %>
  </div>
</div>

<%- include('./partials/footer.ejs') %>